<mdb-card class="mb-4">

    <!--Card content-->
    <mdb-card-body>

        <!-- List group links -->
        <div class="list-group list-group-flush">
            <ng-container *ngFor="let item of arrNum">
                <a class="list-group-item list-group-item-action waves-effect">
                    <span style="padding-right: 13px;
                    background: #e9e6e8;
                    font-weight: bold;
                    padding-left: 14px;
                    border-radius: 17px;
                    margin-right: 9px;">{{item.num}}</span>
                    <mdb-badge [success]="item.count >= 3" [danger]="item.count < 3" pill="true" class="pull-right">
                        <span style="">{{item.count}}</span>
                        <mdb-icon fas [icon]="item.count >= 3 ? 'arrow-up' : 'arrow-down'" class="ml-1"></mdb-icon>
                    </mdb-badge>
                </a>
            </ng-container>
        </div>

    </mdb-card-body>

</mdb-card>